#main{
    margin-bottom: 0;
    padding-bottom: 0;
}

#footer{
    position: relative;
    margin: 0;
    top: 0;
    box-sizing:border-box;
    behavior:url(/js/boxsizing.htc);
}

#footer li a{
    display: block;
    float: right;
    text-align: right;
    background:url('about:blank');
}

#main-menu_grace ul li a{
    background:url('about:blank');
}

.media-body, .media-body ul, .media-body ul li{
  width: 100%;
}

.media-img{
  float: left;
  width: 50%;
}
.media-body{
  float: right;
  width: 50%;
}

.carousel-indicators, .carousel-control {
  display: none;
  float: none;
}


