@import '../mixin'

#graphicdesign-section
	@include respond-to(xs) 
		margin-top: 0px
	#gp-title
		@include respond-to(xs) 
			margin-right: 40px
#graphic-design
	margin-left: 0px
	margin-top: 0px
	font-family: #{$font-title}
	@include respond-to(xs) 
		margin-left: 0px
		margin-top: 0px
	@include respond-to(sm) 

.pinterest-grid.gp-grid
	margin: 0
	@include respond-to(md) 
		margin: 0 auto 0 0
	@include respond-to(sm) 
		margin: 0 auto 0 0
	@include respond-to(xs) 
		margin: 0 auto
#gd-bar
	position: absolute
	margin-top: -20px
	width: 100%
	height: 160px
	background: $timeline_bg
.bigimg
	height: auto
	position: relative
	display: inline-block
	min-width: 35px
	max-width: 100%
	min-height: 35px
.bigimg.loaded
	background: none #fff
	height: auto
.others-title
	background: #F90
	color: #fff
	width: 100%
	text-align: center
	padding-top: 5px
	margin-top: 20px
img.other-img
	padding: 8px
	background: #fff
	margin: 0 auto 1px auto
	box-shadow: rgba(0, 0, 0, 0.4)

/* Gallery category select(begin) */
#graphicdesign-section
	min-height: calc(100vh - 221px)
	.galereya-cats 
		position: fixed
		z-index: 10
		display: block
		overflow: hidden
		width: 125px
		height: auto
		padding: 0
		margin-left: 82px
		margin-top: 0px
		list-style: none
		cursor: pointer
		color: #fff
		background: #2d2d2d
		background-image: url(data:image/svg+xmlbase64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJkMmQyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)
		background-image: linear-gradient(to bottom,  #2d2d2d 0%,#000000 100%)
		border-radius: 9px
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7)
	.galereya-cats-item 
		width: 100%
		display: block
		padding: 1px 25px 1px 10px
		border-top: 1px solid #343434
		padding: 7px 4px 7px 14px
		text-overflow: ellipsis
		text-transform: capitalize
		font-size: 10pt
		overflow: hidden
		text-align: left
		text-shadow: none
	.galereya-cats-item.active
		background-color: #ad3
		text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5)
	.galereya-cats-item:first-child 
		height: 40px
		display: block
		border: none
		background: none
	.galereya-cats.ori-open
		height: auto
		.galereya-cats-item:first-child 
			background: none
	.galereya-cats.user-close
		height: 40px
		.galereya-cats-item:first-child 
			background: url('/images/galereya/galereya-arrow_down.png') no-repeat 90% 50%
	.galereya-cats.user-open
		height: auto
		.galereya-cats-item:first-child 
			background: url('/images/galereya/galereya-arrow_up.png') no-repeat 90% 50%
+respond-to(xs) 
	.galereya-cats		
		right: 20px
		float: right
	/* Gallery category select(end) */
